.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.class-blue {
    color: blue;


}

.paragraph {
    color: #3F51B5;
    font-style: italic;
    width: 300px
}

.div-class {
    border-radius: 100px;
    height: 200px;
    width: 200px;
    background-color: pink;
    position: relative;
}

.menu {
    margin-left: auto;
    margin-right: auto;
}

.lefteye,
.righteye {
    height: 35px;
    width: 25px;
    bottom: 70%;
    transition: height 0.5s;
    background: black;
    position: absolute;
}

.lefteye {
    left: 45px;

}

.lefteye:hover {
    height: 15px;
}

.righteye {
    right: 45px;
}

.righteye:hover {
    height: 15px;

}

.nose {
    height: 20px;
    width: 20px;
    position: absolute;
    background: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mouth {
    height: 15px;
    width: 65px;
    position: absolute;
    background: black;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: height 0.5s;

}

.mouth:hover {
    height: 45px;
}

.neck {
    height: 50px;
    width: 50px;
    background-color: pink;

}

.hbody {
    height: 300px;
    width: 250px;
    background-color: green;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;


}

.hand {
    height: 60px;
    width: 350px;
    background: pink;
    position: absolute;
    top: 150px;
    z-index: -1;
}


.l-hand {
    left: -274px;
    transform: rotate(-45deg);




}

.r-hand {
    right: -274px;
    transform: rotate(45deg);
}

.leg {
    height: 350px;
    width: 70px;
    background: pink;
    position: absolute;
    top: 300px;

}

.r-leg {
    right: 0;
}